/*Reset the browser's default settings*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*Apply to all content*/
body, html {
    height: 100%;
    /*400 is normal weight, 1.8 is line-height*/
    font: 1.125em'Poppins', sans-serif;

}

/*parallax scrolling effect where images stay put. Applied to all 4 images*/
.topWaterBG, .bottomWaterBG, .campBG, .poolBG, .eventBG {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*set first image below the fixed menu*/
.topWaterBG {
    margin-top: 4.375em;
    background-image: url("images/wisconsinRiverView.JPG");
    min-height: 100%;
}

/*Lines each image up below the other*/
.bottomWaterBG {
    background-image: url("images/wisconsinRiverView.JPG");
    height: 100%;
}

.campBG {
    background-image: url("images/camper.jpg");
    min-height: 31.25em;
    max-height: 62.5em;
}

.poolBG {
    background-image: url("images/poolSlideCeraPark.JPG");
    min-height: 31.25em;
    max-height: 62.5em;
}

.eventBG {
    background-image: url("images/tables.png");
    min-height: 31.25em;
    max-height: 62.5em;
}

#reserve{
    text-decoration: none;
    color: white;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

/*Text overlay for the first image*/
.caption span.border {
    background-color: #565F69;
    color: #fff;
    padding: 1.125em;
    font-size: 1.5625em;
    letter-spacing: 0.625em;
    border-radius: .25em;
}

/*First block of text below first image*/
.cpIntro {
    letter-spacing: .3125em;
    text-transform: uppercase;
    font: 1.25em 'Poppins', sans-serif;;
    color: #111;
    border-radius: .25em;

}

.parags {
    color: #111;
    background-color: white;
    text-align: center;
    padding: 3.125em 5em;
}



