@charset "UTF-8";
/* CSS Document */
/*Reset the browser's default settings*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*parallax scrolling effect where images stay put. Applied to all 4 images*/

/*Apply to all content*/
body, html {
    height: 100%;
    /*400 is normal weight, 1.8 is line-height*/
    font: 2.5vh'Poppins', sans-serif;

}
#bg1, #bg2, #bg3, #bg4, #bg5 {
    position: relative;
	height: 100vh;
	overflow:hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;

}
/*set first image below the fixed menu*/
#bg1 {
    background-image: url("images/wisconsinRiverView.JPG");
}

/*Lines each image up below the other*/
#bg2 {
    background-image: url("images/camper.jpg");
}

#bg3 {
    background-image: url("images/poolSlideCeraPark.JPG");
}

#bg4 {
    background-image: url("images/stringLights.jpg");
}
#bg5 {
    background-image: url("images/wisconsinRiverView.JPG");
}
#reserve{
    text-decoration: none;
    color: white;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #565F69;
    color: #fff;
    padding: 5vh;
    font-size: 4vh;
    letter-spacing: 2.5vh;
    border-radius: 2vh;
}

.paragraphs {
    color: #111;
    background-color: white;
    text-align: center;
    padding: 15vh 2vh 15vh 2vh;
}

@media screen and (max-width: 650px) {
    #bg1{
        background-image: url("images/wisconsinRiverViewMobile.jpg");
    }

}
